@model FoodManageViewModel
    
    <form asp-action="UpdateFood" data-ajax="true"
          data-ajax-method="POST"
          data-ajax-mode="replace"
          data-ajax-update="#foodDetails"
          class="needs-validation" novalidate>
        <input type="hidden" asp-for="FoodId" value="@Model.FoodId" />
        <input type="hidden" asp-for="IngredientName" value="valid" />
        <input type="hidden" asp-for="Food.MatrattId" />
        <div class="form-row mt-3">
            <div class="form-group m-2">
                <label>Kategori:</label>
                <select class="form-control" asp-items="@Model.CategorySelectList" asp-for="Food.MatrattTyp"></select>
            </div>
            <div class="form-group m-2">
                <label>Namn:</label>
                <input type="text" class="form-control p-2" asp-for="FoodName" value="@Model.Food.MatrattNamn" required />
                <span asp-validation-for="FoodName"></span>
            </div>
            <div class="form-group m-2">
                <label>Pris:</label>
                <input type="number" class="form-control" asp-for="FoodPrice" value="@Model.Food.Pris" required />
                <span asp-validation-for="FoodPrice"></span>
            </div>
        </div>
        <div class="form-group m-2">
            <label>Beskrivning:</label>
            <textarea class="form-control" asp-for="Food.Beskrivning" rows="6">@Model.Food.Beskrivning</textarea>
        </div>
        <div class="d-flex justify-content-end foodBtn">
            <input type="submit" class="btn btn-dark btn-block" value="Spara ändringar" />
        </div>

    </form>

    <form asp-action="RemoveIngredient" data-ajax="true"
          data-ajax-method="POST"
          data-ajax-mode="replace"
          data-ajax-update="#foodDetails">
        <div class="form-group">
            <input type="hidden" asp-for="FoodId" value="@Model.FoodId" />
            <input type="hidden" asp-for="Food.MatrattId" />
            <label>Ingredienser:</label>
            <select id="Ingredients" multiple class="form-control" asp-for="IngredientId" asp-items="@Model.FoodIngredientSelectList"></select>
        </div>
        <div class="d-flex justify-content-end foodBtn">
            <button type="submit" class="btn btn-dark btn-block">Ta bort ingrediens</button>
        </div>
    </form>

    <form asp-action="AddIngredient"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-mode="replace"
          data-ajax-update="#foodDetails">
        <div class="form-group">
            <input type="hidden" asp-for="FoodId" value="@Model.FoodId" />
            <input type="hidden" asp-for="Food.MatrattId" />
            <label>Lägg till ingrediens:</label>
            <select id="listIngredients" class="form-control" asp-for="IngredientId" asp-items="@Model.IngredientSelectList"></select>
        </div>
        <div class="d-flex justify-content-end foodBtn">
            <button type="submit" class="btn btn-dark btn-block">Lägg till ingrediens</button>
        </div>
    </form>
    <div class="d-flex justify-content-end foodBtn mt-3">
        <a role="button" href="@Url.Action("ManageFoods", "Admin")" class="btn btn-danger btn-block">Uppdatera maträttslistan</a>
    </div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/validation.js"></script>