@model UserViewModel
@inject UserManager<ApplicationUser> userManager;

@{
    ViewBag.Title = "Admin";
}

@section style{
    <link rel="stylesheet" href="~/css/Admin.css" />
}

<div class="container d-flex flex-column align-items-center">
    <div class="row">
        <div class="col mt-2">
            <h1>Hantera Användare</h1>
        </div>
    </div>

    <div class="row">
        <div class="col mt-2">
            @foreach (var role in Model.Roles)
            {
                <h5>@role.Name</h5>

                <form asp-controller="Admin" asp-action="UpdateUserRole" method="post">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Namn</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">Ändra medlemskap</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <select class="form-control userSelect" id="@role.Name-select" asp-for="User">
                                            @foreach (var user in Model.Users)
                                            {
                                                if (await userManager.IsInRoleAsync(user, role.Name))
                                                {
                                                    <option value="@user.Id">@user.Name</option>
                                                }
                                            }
                                        </select>
                                        <span asp-validation-for="User"></span>
                                    </div>
                                </td>
                                <td>
                                    <a asp-controller="Admin"
                                       asp-action="UserDetails"
                                       asp-route-id="@role.Id"
                                       data-ajax="true"
                                       data-ajax-method="GET"
                                       data-ajax-mode="replace"
                                       data-ajax-update="#@role.Name-details"
                                       id="@role.Name-link"
                                       class="btn btn-danger userManagementBtn"
                                       role="button" aria-pressed="true">Detaljer</a>
                                </td>
                                <td><button class="btn btn-danger userManagementBtn">Ta bort</button></td>
                                <td>
                                    <div class="form-group">
                                        <select class="form-control" id="roleSelect" asp-for="Role">
                                            <option></option>
                                            @foreach (var roles in Model.Roles)
                                            {
                                                <option>@roles.Name</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Role"></span>
                                    </div>
                                </td>
                                <td><button type="submit" class="btn btn-danger userManagementBtn">Ändra</button></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <script>
                    $("#@role.Name-link").mouseover(() => {
                        var currentSelection = $("#@role.Name-select").children("option:selected").val();
                        $("#@role.Name-link").attr("href", "/Admin/UserDetails?Id=" + currentSelection);
                        })

                        var toggle = true;

                        $("#@role.Name-select").change(() => {
                            $("#@role.Name-details").hide();
                            toggle = true;
                        })

                        $("#@role.Name-link").click(() => {
                            if (!toggle) {
                                $("#@role.Name-details").hide();
                                toggle = !toggle;
                            }
                            else {
                                $("#@role.Name-details").show();
                                toggle = !toggle;
                            }
                        })
                </script>
                <div id="@role.Name-details"></div>
            }
        </div>
    </div>
</div>
