@model AdminOrderViewModel

<h2>Ej levererade</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Orderdatum</th>
            <th scope="col">Totalbelopp</th>
            <th scope="col"></th>
            <th scope="col">Ändra status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            if (!order.Levererad)
            {
        <tr>
            <td>@order.BestallningDatum</td>
            <td>@order.Totalbelopp</td>
            <td>
                <a asp-controller="Admin"
                   asp-action="OrderInfo"
                   asp-route-OrderId="@order.BestallningId"
                   data-ajax="true"
                   data-ajax-method="GET"
                   data-ajax-mode="replace"
                   data-ajax-update="#@order.BestallningId-orderInfo"
                   role="link" aria-pressed="true" id="@order.BestallningId-viewDetailsBtn">Visa order</a>
            </td>
            @if (User.IsInRole("Admin"))
            {
            <td>
                <form asp-controller="Admin"
                      asp-action="SetOrderDelivered"
                      asp-route-OrderId="@order.BestallningId"
                      asp-route-UserId="@Model.UserId"
                      data-ajax="true"
                      data-ajax-method="GET"
                      data-ajax-mode="replace"
                      data-ajax-update="#orderDetails">
                    <button type="submit" class="btn btn-danger userManagementBtn">Levererad</button>
                </form>
            </td>
            <td>
                <form asp-controller="Admin"
                      asp-action="RemoveOrder"
                      asp-route-orderId="@order.BestallningId"
                      asp-route-UserId="@Model.UserId"
                      data-ajax="true"
                      data-ajax-method="GET"
                      data-ajax-mode="replace"
                      data-ajax-update="#orderDetails">
                    <button type="submit" class="btn btn-danger userManagementBtn">Ta bort</button>
                </form>
            </td>
            }
        </tr>
                <tbody id="@order.BestallningId-orderInfo"></tbody>
            }

        }
</table>
<h2>Levererade</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Orderdatum</th>
            <th scope="col">Totalbelopp</th>
            <th scope="col"></th>
            <th scope="col">Ändra status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            if (order.Levererad)
            {
        <tr>
            <td>@order.BestallningDatum</td>
            <td>@order.Totalbelopp</td>

            <td>
                <a asp-controller="Admin"
                   asp-action="OrderInfo"
                   asp-route-OrderId="@order.BestallningId"
                   data-ajax="true"
                   data-ajax-method="GET"
                   data-ajax-mode="replace"
                   data-ajax-update="#@order.BestallningId-orderInfo"
                   role="link" aria-pressed="true" id="@order.BestallningId-viewDetailsBtn">Visa order</a>
            </td>
            @if (User.IsInRole("Admin"))
            {
            <td>
                <form asp-controller="Admin"
                      asp-action="SetOrderUndelivered"
                      asp-route-OrderId="@order.BestallningId"
                      asp-route-UserId="@Model.UserId"
                      data-ajax="true"
                      data-ajax-method="GET"
                      data-ajax-mode="replace"
                      data-ajax-update="#orderDetails">
                    <button type="submit" class="btn btn-danger userManagementBtn">Olevererad</button>
                </form>
            </td>
            <td>
                <form asp-controller="Admin"
                      asp-action="RemoveOrder"
                      asp-route-orderId="@order.BestallningId"
                      asp-route-UserId="@Model.UserId"
                      data-ajax="true"
                      data-ajax-method="GET"
                      data-ajax-mode="replace"
                      data-ajax-update="#orderDetails">
                    <button type="submit" class="btn btn-danger userManagementBtn">Ta bort</button>
                </form>
            </td>
            }
        </tr>
            <tbody id="@order.BestallningId-orderInfo"></tbody>
        }
    }
    </table>
