@model AdminOrderViewModel

@{
    ViewBag.Title = "Kundsidan";
}

@section style{
    <link rel="stylesheet" href="~/css/CustomerPage.css" />
    <link rel="stylesheet" href="~/css/NewCustomer.css/">
}

<div class="container d-flex flex-column align-items-center">

    <div class="row">
        <div class="col mt-5">
            <div class="jumbotron">
                <h1 class="display-4 d-flex justify-content-center">Välkommen @Model.User.Name!</h1>
                <p class="lead">Här är din egna kundsida där du kan göra beställningar, se aktuella ordrar och ändra dina uppgifter.</p>
                <hr class="my-4">
                @if (User.IsInRole("PremiumUser"))
                {
                    <h4>Användarnivå: Premium</h4>
                }
                else
                {
                    <h4>Användarnivå: Standard</h4>
                }
                <h4>Antal beställningar: @Model.Orders.Count()</h4>
                @if (User.IsInRole("PremiumUser"))
                {
                    <h4>Bonuspoäng: @Model.User.BonusPoints</h4>
                    <p>
                        Som premiumanvändare samlar du bonuspoäng och får mängdrabatt.<br />
                        För varje rätt du beställer får du 10 bonsupoäng och när du kommit upp 
                        till 100 bjuder vi på den billigaste rätten.<br />
                        Utöver detta får du alltid 20% rabatt när du köper minst 3 pizzor
                    </p>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col mt-3">
            <a href="@Url.Action("Order", "Order")" class="btn btn-danger customerHomeBtn" role="button" aria-pressed="true">Beställ mat</a>
        </div>
    </div>

    <div class="row">
        <div class="col mt-3">
            <button onclick="toogleDiv('#customerOrders')" class="btn btn-danger customerHomeBtn" role="button" aria-pressed="true">Visa ordrar</button>
        </div>
    </div>

    <div id="customerOrders">
        @await Component.InvokeAsync("OrderDetails", new { model = new AdminOrderViewModel { Orders = @Model.Orders, UserId = @Model.User.Id } })
    </div>

    <div class="row">
        <div class="col mt-3">
            <button onclick="toogleDiv('#editUserForm')" class="btn btn-danger customerHomeBtn" role="button" aria-pressed="true">Ändra uppgifter</button>
        </div>
    </div>

    <div id="editUserForm">
        <div class="col-sm">
            <div id="newCustomerContainer">
                <h2>Ändra användaruppgifter</h2>
                <form id="newCustomer" asp-controller="Account" asp-action="UpdateUser" method="post">
                    <div id="inputSection1">
                        <div class="form-group">
                            <label asp-for="UserInfoModel.Namn"></label>
                            <input asp-for="UserInfoModel.Namn" class="form-control" type="text" />
                            <span asp-validation-for="UserInfoModel.Namn"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserInfoModel.Gatuadress"></label>
                            <input asp-for="UserInfoModel.Gatuadress" class="form-control" type="text" />
                            <span asp-validation-for="UserInfoModel.Gatuadress"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="UserInfoModel.Postnr"></label>
                            <input asp-for="UserInfoModel.Postnr" class="form-control" type="text" />
                            <span asp-validation-for="UserInfoModel.Postnr"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="UserInfoModel.Postort"></label>
                            <input asp-for="UserInfoModel.Postort" class="form-control" type="text" />
                            <span asp-validation-for="UserInfoModel.Postort"></span>
                        </div>
                    </div>
                    <div id="inputSection2">
                        <div class="form-group">
                            <label class="formItem" asp-for="UserInfoModel.Email"></label>
                            <input asp-for="UserInfoModel.Email" class="form-control" type="text" />
                            <span class="errorText" asp-validation-for="UserInfoModel.Email"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="UserInfoModel.Telefon"></label>
                            <input asp-for="UserInfoModel.Telefon" class="form-control" type="text" />
                            <span class="errorText" asp-validation-for="UserInfoModel.Telefon"></span>
                        </div>
                    </div>
                    <div id="saveBtnContainer">

                        <button type="submit" class="btn btn-danger">Ändra</button>
                    </div>
                </form>
                <h2>Ändra kontouppgifter</h2>

                <form id="newCustomer" asp-controller="Account" asp-action="UpdateAccount" method="post">
                    <div class="form-group">
                        <label class="formItem" asp-for="AccountModel.AnvandarNamn"></label>
                        <input asp-for="AccountModel.AnvandarNamn" value="@Model.User.UserName" class="form-control" type="text" />
                        <span class="errorText" asp-validation-for="AccountModel.AnvandarNamn"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="AccountModel.Losenord"></label>
                        <input asp-for="AccountModel.Losenord" class="form-control" type="text" />
                        <span class="errorText" asp-validation-for="AccountModel.Losenord"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="AccountModel.NewPassword"></label>
                        <input asp-for="AccountModel.NewPassword" class="form-control" type="text" />
                        <span class="errorText" asp-validation-for="AccountModel.NewPassword"></span>
                    </div>

                    <div id="saveBtnContainer">
                        <button type="submit" class="btn btn-danger">Ändra</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
