@model CartViewModel

<h4 id="cartHeader">Varukorg</h4>
@if (Model.Food.Count == 0)
{
    <p>Din varukorg är tom</p>
}

else
{
    <table class="table">
        <thead class="thead">
            <tr>
                <th scope="col">Antal</th>
                <th scope="col">Maträtt</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var food in Model.Food)
            {
                <tr>
                    <td>@food.OrderAmount</td>
                    <td>@food.Name</td>
                    <td>@food.FoodTotal.ToString("C0")</td>
                    <td>
                        <a asp-controller="Order"
                           asp-action="RemoveFromCart"
                           asp-route-id="@food.FoodId"
                           data-ajax="true"
                           data-ajax-method="POST"
                           data-ajax-mode="replace"
                           data-ajax-update="#sideBar"
                           class="btn btn-danger userManagementBtn"
                           role="button" aria-pressed="true">-</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div id="paymentDetails">
        <p>Summa: @Model.TotalAmount.ToString("C0")</p>
        @if (User.IsInRole("PremiumUser"))
        {
            @if (Model.TotalBonus > 20)
            {
                <p>Din mängdrabatt: -@Model.Discount.ToString("C0")</p>
                <p>Summa inkl rabatt: @((Model.TotalAmount - Model.Discount).ToString("C0"))</p>
            }
            @if (Model.CurrentBonus >= 100)
            {
                <p>Grattis! Vi bjuder på den billigaste rätten</p>
                <p>Din gratisrätts värde är @Model.BonusMoney.ToString("C0")</p>
                <p>Summa inkl gratisrätt: @((Model.TotalAmount - Model.Discount - Model.BonusMoney).ToString("C0"))</p>
            }
            <p>Nuvarande Bonus: @Model.CurrentBonus</p>
            <p>Bonus för detta köp: @Model.TotalBonus</p>
        }
    </div>
    <form asp-action="OrderConfirmation" method="post">
        <input type="submit" class="btn btn-danger" value="Skicka beställning" />
    </form>

}