@model CartViewModel

<h4>Varukorg</h4>
@if (Model.Food.Count == 0)
{
    <p>Din varukorg är tom</p>
}

else
{
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Antal</th>
                <th scope="col">Maträtt</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var food in Model.Food)
            {
                <tr>
                    <td>@food.OrderAmount</td>
                    <td>@food.Name</td>
                    <td>@food.FoodTotal</td>
                    <td><input type="submit" class="btn btn-danger" value="-" /></td>
                </tr>
            }
        </tbody>
    </table>

    <p>Summa: @Model.TotalAmount kr</p>
    <p>Din rabatt: -@Model.Discount</p>
    <p>Summa inkl rabatt: @(Model.TotalAmount-Model.Discount)</p>
    <p>Bonus för detta köp: @Model.TotalBonus</p>
    <form asp-action="OrderConfirmation" method="post">
        <input type="submit" class="btn btn-danger" value="Skicka beställning" />
    </form>
   
}